body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  #about {
    text-align: center;
    padding: 50px 0;
  }
  
  #about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  #skills {
    background-color: #f4f4f4;
    padding: 50px 0;
  }
  
  #skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  #skills li {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #ccc;
    border-radius: 5px;
  }
  
  #projects {
    padding: 50px 0;
  }
  
  .project {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .project img {
    max-width: 100%;
  }
  
  #resume {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
    
  }
  #button{
    text-shadow: #333;
    box-shadow: #333;
  }
  #contact {
    padding: 50px 0;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  